
.body-parent{
  display: flex;
  margin-bottom: 20px;
}

.empty-space{
  width: 20px;
  background-color: rgba(196, 196, 196, 0);
}

.main-content{
  width: 100%;
  margin-right: 20px;
  background-color: rgba(255, 192, 203, 0);
}



